body{
  background-color: #F9FAFB;
}
.InfiniteCarouselDots{
  position: absolute;
  left: 50%;
  bottom: -40px !important;
  padding: 0;
  transform: translateX(-50%);
}
.InfiniteCarouselSlide img {
  width: 45% !important;
}
.myColor {
  color: #4CE1E6;
}